*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  width: 80%;
  /* padding: 20px; */
}

#navbar {
  position: fixed;
  width: 50%;
  height: 100%; 
  padding-right: 30px;
  /* /* left: 0; */

  /* copied code */

}

#navbar .nav-link {
  text-decoration: none;
  color: #000;
  display: grid;
}

#navbar .nav-link,
#navbar header h1 {
  text-align: center;
}
.nav-link {
  margin-top: 20px;
}

#main-doc {
  float: right;
  margin-left: 40px;
  width: 60%;
  height: 100%;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff7f50;
}

pre code {
  background-color: #eee;
  display: block;
  padding: 10px;
}

/* Responsive section */

/* @media media-type and (media-feature-rule)
{

}
*/

@media (max-width: 906px) {
  body {
    font-size: 1.6rem;
    line-height: 1.5;
    width: 80%;
    padding: 20px;
  }

  #navbar {
    position: relative;
    width: 100%;
    padding: 10px 50px 30px 0;
    text-align: center;
  }

  #navbar .nav-link {
    text-decoration: none;
    color: #000;
    display: grid;
    border-bottom: 1px solid black;
    font-weight: bold;
    line-height: 1.6;
  }

  #main-doc {
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    color: #ff7f50;
  }

  pre code {
    background-color: #eee;
    display: block;
    padding: 10px;
  }
}
